<html>
    <head>
        <title> <%= title %> </title>
        <link rel="stylesheet" href="/css/layouts.css">
        <%- style %>
    </head>
    <body>
        <%- include('_header'); %>
         <% if(flash.success && flash.success.length){ %>

              <h5>
                  <%= flash.success%>
              </h5>

            <% } %>

      <%- body %>
        <%- include('_fotter'); %>
        <%- script %>
    </body>
</html>